{% extends "base.html" %}
{% block html_class %} class="iframe-page"{% endblock %}
{% block title %}Spain Daily Subscribe{% endblock %}
{% block description %}<meta name="description" content="Subscribe to Spain Daily — Spain's top news in English, every morning. Free forever.">{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
 <iframe src="https://43fcc87b.sibforms.com/v2/serve/MUIFAIVBICvYyOQdjlU8kOmJF_BZhp9Y7nuEIdzF1wKS7mhl1qVmcrHxhrfr113LxrXV97MaaGP0kwT_fIVVEDtR38P2o3WmdKhUKauCnxniooHUucFf_ntoZt7EwVcYLZu4lSS4fzwmxZoHQvMohdF5A4OZ5WjBm2Db8P5Lygn-goDOeSGXln9i9aaIbL80jlxc-HSEhQbqCylerg==" allowfullscreen></iframe>
{% endblock %}
