{% extends "base.html" %}
{% block html_class %} class="iframe-page"{% endblock %}
{% block title %}Spain Daily Unsubscribe{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
  <iframe src="https://43fcc87b.sibforms.com/v2/serve/MUIFAI6ItYwlAY7qGD7rHkf7ug6hnv3FwCbcAcCe4pxqKXkUReo3V4OpoQPnzfjDv5NjIS1ptjtfgO6lEy0z43Nh_lNtnYoryQfzCViMYSSFbe7JNAfGe2GeY9u2HtBqmhgi_nFgydb6srYEN-6FUPaf074dfPVAmKbs1wmBLV8XQdCKOqB2sEGyEEnsYd9_Vt-uucnnwUsDIyMBlw==" allowfullscreen></iframe>
{% endblock %}
